.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.header ul li {
    display: inline-block;
    margin-left: 15px;
}

.header ul li a {
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
}

